body{margin: 0 auto;/*background:#EFEFEF;*/border: none;margin-bottom: 10px;f;}
a{text-decoration: none;border:none;}
a:hover{text-decoration: none;}
a:active {border:none;}
img{border: none;}
li{list-style-type: none;}
span{font-size: 13px;color:#767676;}


.left{float: left;}
.right{float: right;}
.middle{margin: 0 auto;}
.block{display: block;}
.absolute{position: absolute;}
.relativ{position: relative;}
.shadow{/*box-shadow:0px 0px 5px #303030;*/}

.border_r{border: 3px solid red;}
.border_b{border: 3px solid black;}
.border_y{border: 3px solid yellow;}


.h330{height: 328px;}
.h40{height:40px;}

.w80{width: 90%;}


/*.w900{width:80%;}*/


